@font-face {
  font-family: InterRegular;
  src: url(./fonts/static/Inter-Regular.ttf);
}

@font-face {
  font-family: InterBold;
  src: url(./fonts/static/Inter-Bold.ttf);
}

@font-face {
  font-family: InterExtraBold;
  src: url(./fonts/static/Inter-ExtraBold.ttf);
}

:root {
  /* Custom Fonts */
  --font-inter-regular: InterRegular;
  --font-inter-bold: InterBold;
  --font-inter-extra-bold: InterExtraBold;

  /* Primary Colors */
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);

  /* Neutral Colors */
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}

* {
  margin: 0;
  padding: 0;
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: var(--off-white);
  width: 375px;
  padding: 25px 15px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

p {
  font-family: var(--font-inter-regular);
  font-size: 15px;
}

/* .hidden class for JavaScript */
.hidden {
  display: none;
}

/* .overlay class for JavaScript */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(240, 100%, 5%, 0.4);
  opacity: 0;
  z-index: -1;
  transition: all 0.2s ease;
}

/* Header Styling */
.logo {
  width: 3rem;
}

.nav-menu {
  padding: 25px;
  background-color: var(--off-white);
  list-style: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  transform: translateX(100%);
  transition: all 0.2s ease;
}

.nav-menu-desktop {
  display: none;
}

.hamburger-menu {
  cursor: pointer;
}

.close-menu {
  align-self: flex-end;
  cursor: pointer;
}

.nav-link {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
}

.nav-link li p {
  color: var(--very-dark-blue);
  font-size: 1.1rem;
}

.nav-link li p:hover {
  cursor: pointer;
  color: var(--soft-red);
}

.active-nav-menu {
  transform: translateX(0);
  z-index: 2;
}

.active-overlay {
  opacity: 1;
  z-index: 1;
}

/* Hero Sectin Styling */
.hero-image-mobile {
  width: 100%;
  margin-bottom: 25px;
}

.hero-image-desktop {
  display: none;
}

.headline-text {
  font-family: var(--font-inter-extra-bold);
  font-size: 2.6rem;
  line-height: 1;
  margin-bottom: 20px;
}

.headline-desc {
  color: var(--dark-grayish-blue);
  line-height: 1.6;
  margin-bottom: 20px;
}

.read-more {
  font-family: var(--font-inter-bold);
  border: none;
  background-color: var(--soft-red);
  color: var(--off-white);
  padding: 15px 36px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  transition: all 0.3s ease-out;
}

.read-more:hover {
  cursor: pointer;
  background-color: var(--very-dark-blue);
}

/* New Section Styling */
.new-section {
  font-family: var(--font-inter-bold);
  padding: 25px;
  background-color: var(--very-dark-blue);
  margin: 60px 0;
}

.new-section h2 {
  color: var(--soft-orange);
  font-size: 1.9rem;
}

.new-item h3 {
  color: var(--off-white);
  margin-bottom: 8px;
}

.new-item h3:hover {
  cursor: pointer;
  color: var(--soft-orange);
}

.new-item p {
  color: var(--dark-grayish-blue);
}

.item-1 p,
.item-2 p {
  margin-bottom: 25px;
}

.item-1,
.item-2 {
  border-bottom: 1px solid var(--dark-grayish-blue);
}

.new-item {
  margin-top: 25px;
}

/* Post Section Styling */
.post-item {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.post-item-2 {
  margin: 25px 0;
}

.post-image {
  height: auto;
  width: 25%;
}

.post-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}

.post-desc h2 {
  font-size: 2rem;
  font-family: var(--font-inter-bold);
  color: var(--grayish-blue);
}

.post-desc h3 {
  font-size: 1.1rem;
  font-family: var(--font-inter-extra-bold);
}

.post-desc h3:hover {
  cursor: pointer;
  color: var(--soft-red);
}

.post-desc p {
  color: var(--dark-grayish-blue);
  line-height: 1.6;
}

/* Media Query Min-Width: 1024px */
@media screen and (min-width: 1024px) {
  /* General Styling */
  body {
    width: 1440px;
  }

  header {
    margin-bottom: 3rem;
  }

  /* Grid Layout for Desktop View */
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      'hero-image hero-image new'
      'hero-headline hero-desc new'
      'post-item post-item post-item';
    gap: 2rem;
  }

  .hero-image-desktop {
    grid-area: hero-image;
  }

  .headline-text {
    grid-area: hero-headline;
  }

  .headline-desc-container {
    grid-area: hero-desc;
  }

  .new-section {
    grid-area: new;
  }

  /* Header Styling */
  .logo {
    width: initial;
  }

  .hamburger-menu {
    display: none;
  }

  .nav-menu-desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
    list-style-type: none;
  }

  .nav-menu-desktop li p {
    font-size: 1.3rem;
  }

  /* Hero Seciton Styling */
  .hero-image-mobile {
    display: none;
  }

  .hero-image-desktop {
    display: block;
    width: 100%;
    height: 100%;
  }

  .headline-text {
    place-self: center;
    font-size: 4.5rem;
    letter-spacing: 2px;
    margin-bottom: 0;
  }

  .headline-desc {
    font-size: 1.3rem;
    line-height: 1.4;
    margin-bottom: 3.5rem;
  }

  .read-more {
    font-size: 1.1rem;
  }

  /* New Seciton Styling */
  .new-section {
    margin: 0;
  }

  .new-section h2 {
    font-size: 3.5rem;
  }

  .new-item h3 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }

  .new-item p {
    font-size: 1.3rem;
    line-height: 1.6;
  }

  .item-1 p,
  .item-2 p {
    margin-bottom: 3rem;
  }

  /* Post Section Styling */
  .post-item {
    gap: 2rem;
    margin-top: 3rem;
  }

  .post-item-2 {
    margin: 3rem 0 0 0;
  }

  .post-desc {
    justify-content: center;
    gap: 0.4rem;
  }

  .post-desc h2 {
    font-size: 2.5rem;
  }

  .post-desc h3 {
    font-size: 1.5rem;
  }

  .post-desc p {
    font-size: 1.3rem;
  }
}
